.pflo__achiev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pflo__achiev-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

.pflo__achiev-heading h1 {
    font-family: var(--font-family);
    font-size: 50px;
    line-height: 72px;
    margin-bottom: 1rem;
}

.pflo__achiev-heading svg {
    width: 100%;
    height: 80px;
    object-fit: contain;
    color: rgb(252, 103, 69);
}

.pflo__achiev-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 990px) {
    .pflo__achiev-heading h1 {
        font-size: 40px;
        line-height: 52px;
    }
}

@media screen and (max-width:600px) {

    .pflo__achiev-heading svg {
        height: 70px;
    }

    .pflo__achiev-heading h1 {
        font-size: 30px;
        line-height: 42px;
    }
}

@media screen and (max-width:450px) {

    .pflo__achiev-heading {
        margin-top: 0;
        margin-bottom: 2rem;
    }
}

/* @media screen and (max-width: 330px) {
    .pflo__achiev {
        margin-right: 0;
    }
} */