.pflo_oneskill {
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.pflo_oneskill img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.close-icon {
    width: 100px;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.close-icon svg {
    width: 40px;
    height: 40px;
    object-fit: cover;
    color: rgb(255, 217, 191);
    z-index: 10;
}

.background_transparent {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.35);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    transition: opacity 0.3s ease-in-out;

}

.pflo_oneskill-content-parent {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.pflo_oneskill-content {
    background: rgba(23, 23, 54, 0.9);
    position: absolute;
    min-width: 250px;
    max-width: 500px;
    /* box-shadow: 0 0 5 rgba(0, 0, 0.2); */
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0rem 1rem;
    margin-top: -1.5rem;
    z-index: 10;

}



.pflo_oneskill-content p {
    color: rgb(100, 211, 207);
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
    padding: 1rem;
}

@media screen and (max-width: 990px) {
    .pflo_oneskill img {
        width: 80px;
        height: 80px;
    }

    .close-icon {
        width: 80px;
        height: 80px;
    }

    .pflo_oneskill-content {
        /* margin: 0rem 1rem; */
        margin-top: -1rem;
    }

    .pflo_oneskill-content-parent {
        width: 100%;
        justify-content: center;
    }

    /* .pflo_oneskill-content{
        left: 0;
        right: 0;
        margin: 0rem 6rem;
    } */

}

@media screen and (max-width: 600px) {
    .pflo_oneskill img {
        width: 70px;
        height: 70px;
    }

    .close-icon {
        width: 70px;
        height: 70px;
    }

    .close-icon svg {
        width: 30px;
        height: 30px;
    }

    .pflo_oneskill-content {
        /* right: 1rem;
        left: 1rem; */
        left: 0;
        right: 0;
        margin-left: 1rem;
        margin-right: 1rem;

    }

    .pflo_oneskill-content p {
        font-size: 17px;
        line-height: 24px;
    }
}

@media screen and (max-width: 300px) {
    .pflo_oneskill-content {
        width: fit-content;
        max-width: none;
        min-width: none;
        margin: 0rem 2rem;
    }
}